{% extends 'base/base.html' %}

{% block title %}
    <title>OnlineStore.com | About us</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}

    <div>
        <div class="jumbotron">
            <div class="container">
                <h3 class="display-4">OnlineStore.com!</h3>
                <br>
                <br>
                <p>OnlineStore.com Pvt Ltd. is an Indian electronic commerce company
                    based in Bhopal, India. Founded by SISTec Students in 2020,
                    the company initially focused on book sales, before expanding into
                    other product categories such as consumer electronics, fashion, and lifestyle products.
                    The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.
                    As of March, OnlineStore.com held a 39.5% market share of India's e-commerce industry.[7] OnlineStore.com
                    is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being
                    "neck and neck" with Amazon in the sale of electronics and mobile phones.
                    OnlineStore.com also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
                    In August, U.S.-based retail chain Walmart acquired a 77% controlling stake in OnlineStore.com for US$16 billion, valuing it at $22 billion.
                </p>
                <hr>
            </div>
        </div>
    </div>

{% endblock content %}