<footer class="footer">
    <div class="container bottom_border">
        <div class="row">

            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <p><i class="fa fa-location-arrow"></i> Sector-2, Delhi, India </p>
                <p><i class="fa fa-phone"></i> +91-9999888822 </p>
                <p><i class="fa fa fa-envelope"></i> helponlinestore123@gmail.com </p>
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Help</h5>
                <ul class="footer_ul_amrc">
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="#">Refund</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Start Selling</a></li>
                    <li><a href="#">Blog Us</a></li>
                    <li><a href="#">Connect Us</a></li>
                </ul>
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Policy</h5>
                <ul class="footer_ul_amrc">
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Seller Policy</a></li>
                    <li><a href="#">Product Verification</a></li>
                </ul>
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <ul class="footer_ul2_amrc">
                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                        <p>Twitter handle <a href="#">https://www.twitter.com/</a></p></li>
                    <li><a href="#"><i class="fab fa-facebook fleft padding-right"></i> </a>
                        <p>Facebook handle <a href="#">https://www.facebook.com/</a></p></li>
                    <li><a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a>
                        <p>Instagram handle <a href="#">https://www.instagram.com/</a></p></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Delivery Partner</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <p class="text-center">Copyright @2020 | Designed by <a href="https://twitter.com/Nikesh55947741" target="_blank">V-Developers</a></p>

        <ul class="social_footer_ul">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>

</footer>