{% load  static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="btn btn-outline-primary menu-toggle" type="button"><i class="fas fa-bars"></i></button>

    <a class="navbar-brand pr-3 pl-3" href="{% url 'seller_home' %}">
        <img src="{% static 'img/logo/logo_title.png' %}" width="45" height="45"
             class="d-inline-block align-top" alt="logo" loading="lazy">
        <p style="vertical-align: middle; display: inline">OnlineStore Seller</p>
    </a>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'list_product' %}">Listing</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'inventory_page' %}">Inventory</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'seller_orders' %}">Orders</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'seller_payment' %}">Payments</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a href="{% url 'seller_profile' %}" class="nav-link">{{ user }}</a>
        </li>
    </ul>

</nav>