<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a class="menu-toggle text-center" href="#">Menu</a></li>
        </ul>
        <ul class="sidebar-nav text-white" id="sidebar">
            <li><a href="{% url 'seller_home' %}">Home</a></li>
            <li><a href="{% url 'profile_page' %}">Profile</a></li>
            <li><a href="{% url 'logout_page' %}">Logout</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</div>