{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    <title>Login | OnlineStore.com</title>
{% endblock title %}

{% block content %}

    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}

    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show">
            <p>Your email and password didn't match. Please try again.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert alert-danger">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p class="alert alert-warning">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div>
        <div class="login-box">
            <div class="LoginForm">
                {% if next %}
                    <form method="POST" action="{% url 'login_page' %}?next={{ next }}">
                {% else %}
                    <form method="POST" action="{% url 'login_page' %}">
                {% endif %}
                <h3 align="center" class="bg-secondary p-2 text-light">Login</h3>
                {% csrf_token %}
                <label class="col-form-label">Email</label><br>
                {{ form.username|add_class:'form-control' }}
                <label class="col-form-label">Password</label><br>
                {{ form.password|add_class:'form-control' }}
                <button type="submit" class="mt-5 mb-1 btn btn-success new_account">Login</button>
                </form>
                <a class="btn btn-info new_account text-white mt-2 mb-1" href="{% url 'signup_page' %}">Create New Account</a>
                <br>
                <a class="password-reset-link mt-2 mb-1" href="{% url 'reset_password' %}">Forgot Password ?</a>
            </div>
        </div>
    </div>

{% endblock %}