{% extends 'base/base.html' %}

{% load widget_tweaks %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block content %}

    <div class="breadcrumbs px-3 mt-3">
        <a href="{% url 'home_page' %}">Home</a>
        &rsaquo; Password Reset Confirmation
        <hr/>
    </div>

    <div class="container">
        <div class="colM">
            <h3>Enter New Password</h3>

            <p>Please enter your new password twice so we can verify you typed it correctly.</p>

            <form method="post" class="form-group">
                {% csrf_token %} {{ form.as_p }}
                <br/>
                <input type="submit" class="btn btn-primary" value="Change my password"/>
            </form>

        </div>
    </div>
{% endblock content %}