{% extends 'base/base.html' %}

{% load widget_tweaks %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}


{% block content %}

    <div class="breadcrumbs px-3 mt-3">
        <a href="{% url 'home_page' %}">Home</a>
        &rsaquo; Password Reset Sent
        <hr>
    </div>

    <div class="container">
        <div align="center" class="mt-5">
            <h4>Password reset email has been send on your email address.</h4>
            <br>

            <p>We’ve emailed you instructions for reset your password, if an account exists with the email you entered.
                You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.</p>
        </div>
    </div>


{% endblock content %}