{% extends 'base/base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block content %}

    <div class="breadcrumbs px-3 mt-3">
        <a href="{% url 'home_page' %}">Home</a>
        &rsaquo; Password Reset Complete
        <hr>
    </div>

    <div class="container">

        <h3 align="center" class="mt-5">Your password has been changed.</h3>

        <br>
        <br>

        <h6 align="center">
            Login from <a href="{% url 'login_page' %}" class="password-reset-link">here</a>
        </h6>
    </div>

{% endblock content %}