{% extends "base/base.html" %}
{% load widget_tweaks %}

{% block title %}
    <title>Sign Up | OnlineStore.com</title>
{% endblock title %}

{% block content %}

    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}

    <div class="LoginForm">
        <form method="post" action="{% url 'signup_page' %}">
            {% csrf_token %}
            <div>
                <div>
                    <h3 align="center" class="bg-secondary text-light p-2">Create New Account</h3>
                    {% csrf_token %}
                    <label>Email: </label>
                    {{ form.email|add_class:'form-control' }}
                    <span class="d-none" id="emailcheck"></span>
                    <label>Password: </label>
                    {{ form.password|add_class:'form-control' }}
                    <label>Confirm Password: </label>
                    {{ form.confirm_password|add_class:'form-control' }}
                    <span id="massage" class="d-none"></span>
                    <br>
                    <button id="createButton" type="submit" class="mt-2 btn btn-primary">Create New Account</button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

{% endblock %}