{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>OnlineStore.com | Books</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}

    <div>
        <div class="row">
            <div class="card card-header col-12">
                <h2>Books</h2>
            </div>
            <div class="col-12 mt-3">
                <div class="row mb-2">
                    {% for details, product in products.items %}
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="{% url 'product_detail_page' product.product_type product.product_name product.id %}" class="anchor-class">
                                <div class="card box-hover-order card-padding">
                                    <img class="book-card-img" src="{{ product.product_home_img.url }}" alt="{{ product.product_name }}">
                                    <div class="card-body">
                                        <h6 class="text-overflow">{{ product.product_name }}</h6>
                                        <p class="text-success">Rs. {{ product.product_selling_price }}</p>
                                        <small class="grey-text">Author: {{ details.author }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock content %}