{% extends 'base/base.html' %}

{% block title %}
    <title>Payment Summary</title>
{% endblock title %}


{% block navbar %}
    {% include 'base/seller_navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
    {% include 'base/seller_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}

    <div class="card vh-100">
        <div class="card-header">
            <h6 class="display-4">Payment Summary</h6>
        </div>
        <div class="card-body">
            <div class="col-12">
                <table width="100%" class="table-bordered" cellpadding="10" cellspacing="10">
                    <tbody>

                    <tr>
                        <td>
                            ORDER ID
                        </td>
                        <td>
                            {{ transaction.order.order_id }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            TRANSACTION ID
                        </td>
                        <td>
                            {{ transaction.transaction_id }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            TRANSACTION DATE
                        </td>
                        <td>
                            {{ transaction.transaction_date }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            BANK TRANSACTION ID
                        </td>
                        <td>
                            {{ transaction.bank_transaction_id }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            TRANSACTION AMOUNT
                        </td>
                        <td>
                            &#x20B9; {{ transaction.transaction_amount }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            TRANSACTION STATUS
                        </td>
                        <td>
                            {{ transaction.transaction_status }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            TRANSACTION TYPE
                        </td>
                        <td>
                            {{ transaction.transaction_type }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            BANK NAME
                        </td>
                        <td>
                            {{ transaction.bank_name }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            PAYMENT MODE
                        </td>
                        <td>
                            {{ transaction.payment_mode }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            REFUND AMOUNT
                        </td>
                        <td>
                            &#x20B9; {{ transaction.refund_amount }}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}

{% endblock footer %}