{% extends 'base/base.html' %}

{% block title %}
    <title>Products Inventory</title>
{% endblock title %}


{% block navbar %}
    {% include 'base/seller_navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
    {% include 'base/seller_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}

    <div class="row mt-3">
        <div class="col-6">
            <div class="card card-body shadow-sm">
                <div>
                    <h6>Login as: {{ user }}</h6>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}

{% endblock footer %}