{% extends 'base/base.html' %}

{% block title %}
    <title>Products Inventory</title>
{% endblock title %}


{% block navbar %}
    {% include 'base/seller_navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
    {% include 'base/seller_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    {% if messages %}
        {% include 'base/messages.html' %}
    {% endif %}


    <div>
        <div class="card card-header">
            <h6 class="display-4">Order's Summary</h6>
        </div>
        <table width="100%" cellspacing="5" cellpadding="5" class="table table-bordered">
            <tbody>

            {% for order in object_list %}

                <tr>
                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                    <td>
                        <div class="text-center">
                            <img class="order-image" src="{{ order.product.product_home_img.url }}" alt="{{ order.product.product_name }}">
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="p-0 m-0"><strong>Item: </strong>{{ order.product.product_name }}</p>
                            <p class="p-0 m-0"><strong>Price: </strong> &#8377; {{ order.product.product_selling_price }}</p>
                            <p class="p-0 m-0"><strong>Quantity: </strong>{{ order.quantity }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="w-100 badge badge-info">Buyer Details</h6>
                            </div>
                            <div class="col-6">
                                <p class="p-0 m-0"><strong>Name:</strong> {{ order.order.name }}</p>
                                <p class="p-0 m-0"><strong>Address:</strong> {{ order.order.address }}</p>
                                <p class="p-0 m-0"><strong>Phone Number:</strong> {{ order.order.phone_number }}</p>
                            </div>
                            <div class="col-6">
                                <p class="p-0 m-0"><strong>Order Date:</strong> {{ order.order.order_date }}</p>
                                <p class="p-0 m-0"><strong>Billing Amount: </strong> &#8377; {{ order.order.amount }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <h6 class="w-100 badge badge-danger">Order Status</h6>
                        <p class="p-0 m-0">{{ order.order.order_status }}</p>
                    </td>
                    <td class="text-center">
                        <h6 class="w-100 badge badge-secondary">Payment Status</h6>
                        <p class="p-0 m-0">{{ order.order.payment_status }}</p>
                    </td>
                    <td class="text-center">
                        <a href="#" class="anchor-class btn btn-warning my-1 w-75">Generate Invoice</a>
                        <button type="button" class="btn btn-success my-1 w-75" data-toggle="modal" data-target="#orderStatusModal">Update Order Status</button>
                        <a href="#" class="anchor-class btn btn-info my-1 w-75">Payment Details</a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>



    <div class="modal fade" id="orderStatusModal" tabindex="-1" role="dialog" aria-labelledby="orderStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Order Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        This Action Cannot Reverted.
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="order-status-update" class="col-form-label">Order Status:</label>
                            {{ orderStatusForm }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block footer %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock footer %}
