<!doctype html>
<html lang="en">
<head>
    <title>Redirecting...</title>
</head>
<body>
<br><br>
<h1>
    <center>{{ company_name }}</center>
</h1>
<br><br><br>
<h1>
    <center>Redirecting to payment gateway<br><br><br>Please do not refresh or go back.</center>
</h1>
<form method="POST" action="{{ payment_url }}" , name="form1">
    {% csrf_token %}
    {% for key, value in data_dict.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
    <script type="text/javascript">
        document.form1.submit();
    </script>
</form>
</body>
</html>